<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>  
    <servlet-name>Add</servlet-name>  
    <servlet-class>CServlet.Add</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  
   <servlet>  
    <servlet-name>achsearch</servlet-name>  
    <servlet-class>CServlet.achsearch</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet>  
    <servlet-name>Add1</servlet-name>  
    <servlet-class>CServlet.Add1</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet>  
    <servlet-name>Add2</servlet-name>  
    <servlet-class>CServlet.Add2</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>Add3</servlet-name>  
    <servlet-class>CServlet.Add3</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
   <servlet>  
    <servlet-name>Add31</servlet-name>  
    <servlet-class>CServlet.Add31</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
  <servlet>  
    <servlet-name>Add32</servlet-name>  
    <servlet-class>CServlet.Add32</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
  <servlet>  
    <servlet-name>Add33</servlet-name>  
    <servlet-class>CServlet.Add33</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>Add4</servlet-name>  
    <servlet-class>CServlet.Add4</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>Add41</servlet-name>  
    <servlet-class>CServlet.Add41</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   
   <servlet>  
    <servlet-name>Add5</servlet-name>  
    <servlet-class>CServlet.Add5</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>updateperson</servlet-name>  
    <servlet-class>CServlet.updateperson</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet>  
    <servlet-name>Add7</servlet-name>  
    <servlet-class>CServlet.Add7</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet>  
    <servlet-name>delete</servlet-name>  
    <servlet-class>CServlet.delete</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet>  
    <servlet-name>delete1</servlet-name>  
    <servlet-class>CServlet.delete1</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>delete2</servlet-name>  
    <servlet-class>CServlet.delete2</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>delete21</servlet-name>  
    <servlet-class>CServlet.delete21</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
  <servlet>  
    <servlet-name>delete3</servlet-name>  
    <servlet-class>CServlet.delete3</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
  <servlet>  
    <servlet-name>delete31</servlet-name>  
    <servlet-class>CServlet.delete31</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>delete4</servlet-name>  
    <servlet-class>CServlet.delete4</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>delete41</servlet-name>  
    <servlet-class>CServlet.delete41</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  
  <servlet>  
    <servlet-name>delete5</servlet-name>  
    <servlet-class>CServlet.delete5</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet>  
    <servlet-name>newsupdate</servlet-name>  
    <servlet-class>CServlet.newsupdate</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
    <servlet>  
    <servlet-name>updateteam</servlet-name>  
    <servlet-class>CServlet.updateteam</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
    <servlet>  
    <servlet-name>updateabout</servlet-name>  
    <servlet-class>CServlet.updateabout</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
     <servlet>  
    <servlet-name>updatestudent</servlet-name>  
    <servlet-class>CServlet.updatestudent</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
   <servlet>  
    <servlet-name>updateach</servlet-name>  
    <servlet-class>CServlet.updateach</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
    <servlet>  
    <servlet-name>updatesearch</servlet-name>  
    <servlet-class>CServlet.updatesearch</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet> 
   <servlet>  
    <servlet-name>updatepatent</servlet-name>  
    <servlet-class>CServlet.updatepatent</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>
    <servlet>  
    <servlet-name>update</servlet-name>  
    <servlet-class>CServlet.update</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>
   <servlet>  
    <servlet-name>delete51</servlet-name>  
    <servlet-class>CServlet.delete51</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
   <servlet>  
    <servlet-name>Add6</servlet-name>  
    <servlet-class>CServlet.Add6</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
     <servlet-mapping>   
    <servlet-name>Add</servlet-name>  
    <url-pattern>/CServlet/Add </url-pattern>  
  </servlet-mapping> 
     <servlet-mapping>   
    <servlet-name>Add1</servlet-name>  
    <url-pattern>/CServlet/Add1</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add2</servlet-name>  
    <url-pattern>/CServlet/Add2</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add3</servlet-name>  
    <url-pattern>/CServlet/Add3</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add31</servlet-name>  
    <url-pattern>/CServlet/Add31</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>Add32</servlet-name>  
    <url-pattern>/CServlet/Add32</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>Add33</servlet-name>  
    <url-pattern>/CServlet/Add33</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add4</servlet-name>  
    <url-pattern>/CServlet/Add4</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>Add41</servlet-name>  
    <url-pattern>/CServlet/Add41</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add5</servlet-name>  
    <url-pattern>/CServlet/Add5</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add6</servlet-name>  
    <url-pattern>/CServlet/Add6</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>Add7</servlet-name>  
    <url-pattern>/CServlet/Add7</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete</servlet-name>  
    <url-pattern>/CServlet/delete</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>delete1</servlet-name>  
    <url-pattern>/CServlet/delete1</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>delete2</servlet-name>  
    <url-pattern>/CServlet/delete2</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>delete21</servlet-name>  
    <url-pattern>/CServlet/delete21</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete3</servlet-name>  
    <url-pattern>/CServlet/delete3</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete31</servlet-name>  
    <url-pattern>/CServlet/delete31</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete4</servlet-name>  
    <url-pattern>/CServlet/delete4</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete41</servlet-name>  
    <url-pattern>/CServlet/delete41</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete5</servlet-name>  
    <url-pattern>/CServlet/delete5</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>delete51</servlet-name>  
    <url-pattern>/CServlet/delete51</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>newsupdate</servlet-name>  
    <url-pattern>/CServlet/newsupdate</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>updateteam</servlet-name>  
    <url-pattern>/CServlet/updateteam</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>updatesearch</servlet-name>  
    <url-pattern>/CServlet/updatesearch</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>update</servlet-name>  
    <url-pattern>/CServlet/update</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>achsearch</servlet-name>  
    <url-pattern>/CServlet/achsearch</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>updateabout</servlet-name>  
    <url-pattern>/CServlet/updateabout</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>updatestudent</servlet-name>  
    <url-pattern>/CServlet/updatestudent</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>updateperson</servlet-name>  
    <url-pattern>/CServlet/updateperson</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>   
    <servlet-name>updateach</servlet-name>  
    <url-pattern>/CServlet/updateach</url-pattern>  
  </servlet-mapping>
   <servlet-mapping>   
    <servlet-name>updatepatent</servlet-name>  
    <url-pattern>/CServlet/updatepatent</url-pattern>  
  </servlet-mapping>
 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- 编码统一的过滤入口 -->
  	  <filter>
  	  	<filter-name>CharacterEncodingFilter</filter-name>
  	  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	  	<!-- 更改编码为utf-8 ,其实就是更改CharacterEncodingFilter中的属性值-->
  	  	<init-param>
  	  		<param-name>encoding</param-name>
  	  		<param-value>UTF-8</param-value>
  	  	</init-param>
  	  </filter>
  	  
  	  <filter-mapping>
  	  	<filter-name>CharacterEncodingFilter</filter-name>
  	  	<url-pattern>/*</url-pattern>
  	  </filter-mapping>
  <!-- 编码统一的过滤入口 -->
    
 
    
    <welcome-file-list>
       
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    
    
    <filter>  
    <filter-name>logn</filter-name>  
    <filter-class>CServlet.checklogn</filter-class>  
  </filter>  
  <filter-mapping>  
    <filter-name>logn</filter-name> 
      <url-pattern>/index6.html</url-pattern>  
      <url-pattern>/index5.html</url-pattern>   
       <url-pattern>/index4.html</url-pattern>  
    <url-pattern>/index3.html</url-pattern>  
     <url-pattern>/index2.html</url-pattern>  
     <url-pattern>/index1.html</url-pattern>  
     <url-pattern>/header.html</url-pattern> 
     <url-pattern>/header1.html</url-pattern>   
       <url-pattern>/header2.html</url-pattern>  
         <url-pattern>/header3.html</url-pattern>  
           <url-pattern>/header4.html</url-pattern>  
             <url-pattern>/header5.html</url-pattern>  
               <url-pattern>/header6.html</url-pattern>  
                 <url-pattern>/header7.html</url-pattern>      
                   <url-pattern>/sabout.jsp</url-pattern>   
                     <url-pattern>/sserach.jsp</url-pattern>  
                       <url-pattern>/steam.jsp</url-pattern>
                         <url-pattern>/scontact.jsp</url-pattern>    
                           <url-pattern>/sstudent.jsp</url-pattern> 
                             <url-pattern>/sachievement.jsp</url-pattern> 
                               <url-pattern>/spatent.jsp</url-pattern>
                                 <url-pattern>/sindex.jsp</url-pattern>
                                   <url-pattern>/index.jsp</url-pattern>   
                                     <url-pattern>/about.jsp</url-pattern>       
                                       <url-pattern>/search.jsp</url-pattern>    
                                         <url-pattern>/team.jsp</url-pattern>  
                                           <url-pattern>/student.jsp</url-pattern>
                                             <url-pattern>/contact.jsp</url-pattern> 
                                               <url-pattern>/achievement.jsp</url-pattern>  
                                                 <url-pattern>/patent.jsp</url-pattern>                    
  </filter-mapping>  
    
    <listener>  
        <listener-class>CServlet.SessionListener</listener-class>  
    </listener>  
</web-app>
